:host {
  display: block;
  padding-top: 22px;
}

.count {
  font-size: 18px;
  line-height: 21, 09px;
  color: #fff;
  height: 36px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: -23px;
  margin-left: -16px;
}
