.tab {
  color: #fff;
  font-size: 14px;
  font-family: Roboto;
  width: 160px;
  height: 46px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    color: #ba9d5a;
  }

  &.selected {
    font-weight: bold;
    border-bottom-color: #ba9d5a;
  }
}
